footer{
    
    @extend .margen-paddin0;
    @include animacion-fondo;

    a {
        text-decoration: none;
    }
    p{
        font-size: 15px;
    }
    li{
        font-size: 20px;
    }
    a:hover{
        color: map-get($colores , hovers) !important;
    }
    i {
        font-size: 20px;
    }
    &:hover {
        animation: fadeIn 0.3s ease-in-out forwards;
    }
}

footer:hover{
    animation-play-state: paused;
}