@mixin cuerpo-pagina-logins ($foto){
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $foto no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin animacion-fondo{
    background-image: var(--color-fondo-header);
    background-size: 200% 100%;
    animation: cambiar 5s ease infinite;
    animation-direction: alternate;
}